<html ng-app="testApp">
<head>
    <title>AngularJS $Http service tutorial example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        th{
            background-color:blue;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body ng-controller="testController">

    <h2>$http Service Tutorial</h2>
    <p>Number of Batches</p><input type="text" ng-model="X"/>
    <br/>
    <p>Numbers per Batch</p><input type="text" ng-model="Y" /><input type="button" ng-click="Start()" value="Start"/>

 
    <table id="tblGrid">
        <tr><th ng-repeat="m in range(1,Y)">Column {{m}}</th><th>Row Total</th></tr>
        <tr ng-repeat="n in range(1,X)"><td ng-repeat="m in range(1,Y)"><input type="text" id="cell{{n}}+{{m}}"/></td>
            <td><input type="text" id="row{{n}}" /></td></tr>

        <tr><td ng-repeat="m in range(1,Y)"><input type="text" id="col{{m}}"/></td>
<td><input type="text" id="sumallCells" /></td></tr>
    </table>

    <br/>
    <button ng-click="Reset()">Clear all</button>
    <input type="text" ng-model="GeneratorNumber" />

    <button ng-click="getRequest(GeneratorNumber)">Test Rest</button>
    <p> {{ response }}</p>
       

   

    <script>
    var testApp = angular.module('testApp', []);

        testApp.controller('testController', function ($scope, $http) {
            $scope.home = "This is the homepage";


            //    Our GET request function
            //$scope.getRequest = function (GeneratorNumber) {
            //    console.log("I've been pressed!");
            //    $http.get("http://localhost:2491/api/SecondaryWebAPI/Generator?Y=" + GeneratorNumber)
            //    .then(function successCallback(response) {
            //        $scope.response = response.data;
            //    }, function errorCallback(response) {
            //        console.log("Unable to perform get request");
            //    });
            //};


            $scope.getRequest = function (GeneratorNumber) {
                console.log("I've been pressed!");
                $http.get("http://localhost:4325/api/webapi/Get")
                .then(function successCallback(response) {
                    $scope.response = response.data;
                }, function errorCallback(response) {
                    console.log("Unable to perform get request");
                });
            };

            $scope.Start = function () {
                $("#tblGrid").show();

                for (var i = 1; i <= $scope.X; i++) {
                    for (var j = 1; j <= $scope.Y; j++) {
                        alert(j);
                        //$http.get("http://localhost:4325/api/webapi/Get")
                        //    .then(function successCallback(response) {
                        //        document.getElementById('cell' + i + '+' + j).value = response.data.replace(/"/g, "");
                        //    }, function errorCallback(response) {
                        //        console.log("Unable to perform get request");
                        //    });
                        $.ajax({
                            method: "GET",
                            url: "http://localhost:4325/api/webapi/Get",
                            success: function (response) {
                                document.getElementById('cell' + i + '+' + j).value = response.replace(/"/g, "")
                                console.log(data);                                
                            },
                            error: function (error_data) {
                                console.log("error");
                                console.log(error_data);
                            }
                        });
                    };
                };
                
            };
            
            $scope.range = function (min, max, step) {
                step = step || 1;
                var input = [];
                for (var i = min; i <= max; i += step) {
                    input.push(i);
                }
                return input;
            };

            $scope.Reset = function () {
                $("input[type=text]").val("");
                $("#tblGrid").hide();
            };
        ////    Our POST request function
        //$scope.postRequest = function () {
        //    $http.post("http://urlforapi.com/", data)
        //        .then(function successCallback(response) {
        //            console.log("Successfully POST-ed data");
        //        }, function errorCallback(response) {
        //            console.log("POST-ing of data failed");
        //        });
        //};

    });
    </script>
</body>


</html>