<html ng-app="testApp">
<head>
    <title>AngularJS $Http service tutorial example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        th{
            background-color:blue;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body ng-controller="testController">

    <h2>$http Service Tutorial</h2>
    <p>Number of Batches</p><input type="text" ng-model="X"/>
    <br/>
    <p>Numbers per Batch</p><input type="text" ng-model="Y" /><input type="button" ng-click="Start()" value="Start"/>

 
    <table id="tblGrid">
        <tr><th>Serial No</th><th ng-repeat="m in range(1,Y)">Column {{m}}</th><th>Row Total</th></tr>
        <tr ng-repeat="n in range(1,X)"><td>{{n}}</td><td ng-repeat="m in range(1,Y)"><input type="text" id="cell{{n}}+{{m}}"/></td>
            <td><input type="text" id="row{{n}}" /></td></tr>

        <tr><td>Column Total</td><td ng-repeat="m in range(1,Y)"><input type="text" id="col{{m}}"/></td>
<td><input type="text" id="sumallCells" /></td></tr>
    </table>

    <br/>
    <button ng-click="Reset()">Clear all</button>
    <input type="text" ng-model="GeneratorNumber" />

    <button ng-click="getRequest(GeneratorNumber)">Test Rest</button>
    <p> {{ response }}</p>
       

    <button onclick="refreshFunction()" id="btnTimer">Timer</button>

    <script>
        var cellArray = [];
        var tempcellArray = [];
        var cellValueArray = [];
        var X=0;
        var Y=0;
    var testApp = angular.module('testApp', []);

        testApp.controller('testController', function ($scope, $http) {
            $scope.home = "This is the homepage";

            
            //    Our GET request function
            //$scope.getRequest = function (GeneratorNumber) {
            //    console.log("I've been pressed!");
            //    $http.get("http://localhost:2491/api/SecondaryWebAPI/Generator?Y=" + GeneratorNumber)
            //    .then(function successCallback(response) {
            //        $scope.response = response.data;
            //    }, function errorCallback(response) {
            //        console.log("Unable to perform get request");
            //    });
            //};


            $scope.getRequest = function (GeneratorNumber) {
                console.log("I've been pressed!");
                $http.get("http://localhost:4325/api/webapi/Get")
                .then(function successCallback(response) {
                    $scope.response = response.data;
                }, function errorCallback(response) {
                    console.log("Unable to perform get request");
                });
            };

            
            $scope.Start = function () {
                $("#tblGrid").show();
                X = $scope.X;
                Y = $scope.Y;

                for (var i = 1; i <= $scope.X; i++) {
                    for (var j = 1; j <= $scope.Y;j++) {
                        cellArray.push('cell' + i + '+' + j);
                        //alert(j);
                        //$http.get("http://localhost:4325/api/webapi/Get")
                        //    .then(function successCallback(response) {
                        //        document.getElementById('cell' + i + '+' + j).value = response.data.replace(/"/g, "");
                        //    }, function errorCallback(response) {
                        //        console.log("Unable to perform get request");
                        //    });
                        //
                    };
                };
                
                tempcellArray = cellArray.slice();
                apiCall();
            };

            function apiCall() {
                $.ajax({
                        method: "GET",
                        url: "http://localhost:4325/api/webapi/Get",
                        success: function (data) {
                            //document.getElementById('cell' + i + '+' + j).value = response.replace(/"/g, "")
                            cellValueArray.push(data.replace(/"/g, ""));
                            tempcellArray.pop()
                            if (tempcellArray.length > 0) { apiCall(); }
                        },
                        error: function (error_data) {
                            console.log("error");
                            console.log(error_data);
                        }
                    });
            };
            
            $scope.range = function (min, max, step) {
                step = step || 1;
                var input = [];
                for (var i = min; i <= max; i += step) {
                    input.push(i);
                }
                return input;
            };

            $scope.Reset = function () {
                $("input[type=text]").val("");
                cellValueArray = [];
                //$("#tblGrid").hide();
            };
        ////    Our POST request function
        //$scope.postRequest = function () {
        //    $http.post("http://urlforapi.com/", data)
        //        .then(function successCallback(response) {
        //            console.log("Successfully POST-ed data");
        //        }, function errorCallback(response) {
        //            console.log("POST-ing of data failed");
        //        });
        //};

        });

        //if (cellValueArray.length > 0)
        setInterval(function () { document.getElementById("btnTimer").click(); }, 1000);

        function refreshFunction() {
            //alert("Hey");
            for (var n = 0; n < cellArray.length; n++) {
                if (cellValueArray.length > 0)
                document.getElementById(cellArray[n]).value = cellValueArray[n];
            };

            rowTotal();
            colTotal();
            allTotal();
        };

        function rowTotal() {
            for (var i = 1; i <= X; i++) {
                var sum = 0;
                for (var j = 1; j <= Y; j++) {
                    if (document.getElementById('cell' + i + '+' + j).value != "undefined") {
                        sum += parseInt(document.getElementById('cell' + i + '+' + j).value);
                    }
                }
                document.getElementById('row' + i).value = sum;
            }
        };


        function colTotal() {
            for (var j = 1; j <= Y; j++) {
                var sum = 0;
                for (var i = 1; i <= X; i++) {
                    if (document.getElementById('cell' + i + '+' + j).value != "undefined") {
                        sum += parseInt(document.getElementById('cell' + i + '+' + j).value);
                    }
                }
                document.getElementById('col' + j).value = sum;
            }
        };

        function allTotal() {
                var sum = 0;
                for (var j = 1; j <= Y; j++) {
                    sum += parseInt(document.getElementById('col' + j).value);
                }                
            
                document.getElementById('sumallCells').value = sum;            
        }
    </script>
</body>


</html>